@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .prose code {
    @apply font-bold text-gray-900;
  }

  .prose code::before {
    content: "`";
  }

  .prose code::after {
    content: "`";
  }

  .prose pre {
    @apply bg-gray-800 text-white p-4 rounded overflow-x-auto;
  }

  .prose pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
    border-width: 0;
    font-weight: 400;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  .prose pre code::before {
    content: none;
  }

  .prose pre code::after {
    content: none;
  }
}
